<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Principal{% endblock %}</title>
    <link href="https://googleapis.com" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css" />
</head>

<body>
    <div class="main">
       {% include "layout/cabecalho.html" %}
        <div class="page">
            {% include "layout/navegacao.html" %}
            <div class="content">
                <div class="screen">
                 {% block content %}
                 {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>