<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Bem-vindo à Página Principal</h1>
    <div class="menu">
        <ul>
            <li><a href="/professores">Ver Professores</a></li>
            <li><a href="/alunos">Ver Alunos</a></li>
        </ul>        
    </div>
    <a id="google-link" href="https://www.google.com" target="_blank">Google</a>
    <div class="copyright">
        <p>Feito por Ednaldo</p>
    </div>
    <div class="container">
        <div>Elemento 1</div>
        <div>Elemento 2</div>
        <div>Elemento 3</div>
        <div>Elemento 4</div>
    </div>
</body>
</html>