<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link href="https://googleapis.com" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css" />
</head>

<body>
    <div class="main">
        <header>

        </header>
        <div class="page">
            <div class="sidebar">
                <h2>Menu</h2>
                <nav>
                    <ul>
                        <li>Home</li>
                        <li>Alunos</li>
                        <li>Professores</li>
                    </ul>
                </nav>
            </div>
            <div class="content">
                <div class="screen">
                    <h1>Listagem de Dados</h1>
                    {% if exibeDetalhe %}
                    <p>{{ detalhe }}</p>
                    {% else %}
                    <p>Não exibe detalhes</p>
                    {% endif %}
                    Turma: {{ turma["descricao"]}}
                    Ano: {{ turma["ano"]}}
                    Série: {{ turma["serie"]}}
                    <table>
                        <thead>
                            <tr>
                                <td>Id</td>
                                <td>Nome</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for chamado in chamados %}
                            <tr>
                                <td>{{ chamado["id"] }}</td>
                                <td>{{ chamado["descricao"] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="/cadastro">Link para a tela de cadastro</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>